<!-- start custom footer snippets -->

<center>
    <div style="display:inline-block;">
        <div><a href="https://root-forum.cern.ch">
        <img style="width:auto; height:2em;" src="{{'/assets/images/forum2.svg' | relative_url}}"></a></div>
        <div><font color="#346295" " size="1">Forum</font></div>
    </div>
    <div style="display:inline-block;">
        <div><a href="https://github.com/root-project/root/issues/new" target="_blank" title="File a bug report">
        <img style="width:auto; height:2em;" src="{{'/assets/images/bug.svg' | relative_url}}"></a></div>
        <div><font color="#346295" " size="1">Bug</font></div>
    </div>
    <div style="display:inline-block;">
        <div><a href="mailto:root-dev@cern.ch" target="_blank" title="Send an email to root-dev@cern.ch">
        <img style="width:auto; height:2em;" src="{{'/assets/images/mail.svg' | relative_url}}"></a></div>
        <div><font color="#346295" " size="1">Mail</font></div>
    </div>
    <div style="display:inline-block;">
        <div><a href="https://github.com/root-project" target="_blank" title="">
        <img style="width:auto; height:2em;" src="{{'/assets/images/Github.svg' | relative_url}}"></a></div>
        <div><font color="#346295" " size="1">GitHub</font></div>
    </div>
    <div style="display:inline-block;">
        <div><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}">
        <img style="width:auto; height:2em;" src="{{'/assets/images/feed.svg' | relative_url}}"></a></div>
        <div><font color="#346295" " size="1">Feed</font></div>
    </div>
    <div style="display:inline-block;">
        <div><a href="https://twitter.com/ROOT_Project">
        <img style="width:auto; height:2em;" src="{{'/assets/images/twitter.svg' | relative_url}}"></a></div>
        <div><font color="#346295" " size="1">Twitter</font></div>
    </div></center>
<hr>

<!-- end custom footer snippets -->
