<meta name="referrer" content="strict-origin">
<link rel="icon" type="image/png" href={{ "/assets/images/icon-16.png" | relative_url }} sizes="16x16">
<link rel="icon" type="image/png" href={{ "/assets/images/icon-32.png" | relative_url }} sizes="32x32">
<link rel="icon" type="image/png" href={{ "/assets/images/icon-96.png" | relative_url }} sizes="96x96">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&amp;display=swap&amp;text=ROOTDataAnlysisFramework" rel="stylesheet">
<head>
  <link rel="manifest" href={{ "/manifest.json" | relative_url }}/>
  <script>
    if ("serviceWorker" in navigator) {
  if (navigator.serviceWorker.controller) {
    console.log("An active service worker found, no need to register");
  } else {
    // Register the service worker
    navigator.serviceWorker
      .register( {{ "/serviceWorker.js" | relative_url }}, {
        scope: "/"
      })
      .then(function (reg) {
        console.log("Service worker has been registered for scope: " + reg.scope);
      });
  }
}
  </script>
</head>
