<meta name="referrer" content="strict-origin">
<link rel="icon" type="image/png" href={{ "/assets/images/icon-16.png" | relative_url }} sizes="16x16">
<link rel="icon" type="image/png" href={{ "/assets/images/icon-32.png" | relative_url }} sizes="32x32">
<link rel="icon" type="image/png" href={{ "/assets/images/icon-96.png" | relative_url }} sizes="96x96">
<link href="/assets/styles/OpenSansFonts.css" rel="stylesheet">
<head>
  <link rel="manifest" href="{{ "/manifest.json" | relative_url }}" />
  <script>
    if ("serviceWorker" in navigator) {
  if (navigator.serviceWorker.controller) {
    console.log("An active service worker found, no need to register");
  } else {
    // Register the service worker
    navigator.serviceWorker
      .register( '{{ "/serviceWorker.js" | relative_url }}', {
        scope: '{{ "/" | relative_url }}'
      })
      .then(function (reg) {
        console.log("Service worker has been registered for scope: " + reg.scope);
      });
  }
}
  </script>
  <!-- Matomo -->
  <script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
  var u="https://webanalytics.web.cern.ch/";
  _paq.push(['setTrackerUrl', u+'matomo.php']);
  _paq.push(['setSiteId', '115']);
  var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
  g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
  </script>
  <!-- End Matomo Code -->
</head>
