# Force trailing slash
<IfModule mod_rewrite.c>
	RewriteCond %{REQUEST_URI} /+[^\.]+$ 
	RewriteRule ^(.+[^/])$ %{REQUEST_URI}/ [R=301,L]
</IfModule>
# Force download for gz, pkg, exe and zip
<FilesMatch "\.(gz|pkg|exe|zip)$">
   ForceType application/octet-stream
   Header set Content-Disposition attachment
</FilesMatch>
