---
layout: splash
author_profile: false
excerpt: "A modular scientific software toolkit"
header:
  overlay_filter: "0.3"
  overlay_image: /assets/images/splash.jpg
  actions:
    - label: <i class="fas fa-download"></i> Install Now
      url: "download"
---

<table id="navtable"><tr>
   <td align="center">
      <a href="{{ "get_started" | relative_url }}">
      <img src="{{'/assets/images/start.png' | relative_url}}"></a>
      <br><b>Get Started</b>
   </td>
   <td align="center"  border="0">
      <a href="https://root.cern/doc/master/index.html">
      <img src="{{'/assets/images/doc.png' | relative_url}}"></a>
      <br><b>Reference</b>
   </td>
   <td align="center" border="0">
      <a href="https://root-forum.cern.ch">
      <img src="{{'/assets/images/forum.png' | relative_url}}"></a>
      <br><b>Forum</b>
   </td>
   <td align="center" border="0">
      <a href="gallery">
      <img src="{{'/assets/images/gallery.png' | relative_url}}"></a>
      <br><b>Gallery</b>
   </td>
</tr></table>


<br><br>
<h1> ROOT is ... </h1>
A modular scientific software toolkit. It provides all the functionalities
needed to deal with big data processing, statistical analysis, visualisation and
storage.
It is mainly written in C++ but integrated with other languages such as Python and R.


<br><br>
<b><a href="about"> More ...</a></b>


<br><br>
<table style="border:0px" bgcolor="#EBEBEB">
   <tr>
      <td style="border:0px" width="50%" rowspan="2">
         <h1> Under the Spotlight </h1>
         <i>
         {% for post in site.posts limit:3 %}
            <h3> <a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
            <p>{{ post.excerpt }}</p>
         {% endfor %}
         </i>
      </td>
      <td style="border:0px" width="50%" bgcolor="#DBDBDB">
         <h1> Other News </h1>
         <i>
         {% for post in site.posts %}
            {% if forloop.index >= 4 and forloop.index <=8 %}
               <h3> <a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
            {% endif %}
         {% endfor %}
         </i>
      </td>
   </tr>
   <tr>
      <td style="border:0px" width="50%" bgcolor="#CBCBCB">
         <h1> Latest Releases </h1>
         {% include releases_list number=4 single_column="yes" %}
         <b><a href="{{'/download/all_releases' | relative_url}}"> More ...</a></b>
      </td>
   </tr>
</table>
