---
layout: splash
author_profile: false
excerpt: "A modular scientific software toolkit"
header:
  overlay_filter: "0.3"
  overlay_image: /assets/images/splash.jpg
  actions:
    - label: <i class="fas fa-download"></i> Install Now
      url: "download"
---

<table id="navtable"><tr>
   <td align="center">
      <a href="{{ "get_started" | relative_url }}">
      <img width="128" src="{{'/assets/images/start.svg' | relative_url}}"></a>
      <br><b>Get Started</b>
   </td>
   <td align="center"  border="0">
      <a href="https://root.cern/doc/master/index.html">
      <img width="128" src="{{'/assets/images/doc.svg' | relative_url}}"></a>
      <br><b>Reference</b>
   </td>
   <td align="center" border="0">
      <a href="https://root-forum.cern.ch">
      <img width="128" src="{{'/assets/images/forum.svg' | relative_url}}"></a>
      <br><b>Forum</b>
   </td>
   <td align="center" border="0">
      <a href="gallery">
      <img width="128" src="{{'/assets/images/gallery.svg' | relative_url}}"></a>
      <br><b>Gallery</b>
   </td>
</tr></table>


<br><br>
<h1> ROOT is ... </h1>
A modular scientific software toolkit. It provides all the functionalities
needed to deal with big data processing, statistical analysis, visualisation and
storage.
It is mainly written in C++ but integrated with other languages such as Python and R.


<br><br>
<b><a href="about"> More ...</a></b>


<br><br>
<table style="border:0px" bgcolor="#f3fff8">
   <tr>
      <td style="border:0px" width="50%" rowspan="2">
         <h1><p style="border:1px; border-style:solid; border-color:#AAAAAA; background-color:#c4f1d8; padding: 0.5em;">Under the Spotlight</p></h1>
         {% for post in site.posts limit:3 %}
            <font face = "Courier">{{post.date | date_to_string}}  </font><b><a href="{{ post.url | relative_url }}">{{ post.title }}</a></b>
            <p>{{ post.excerpt }}</p>
         {% endfor %}
      </td>
      <td style="border:0px" width="50%" bgcolor="#f3f9ff">
         <h1><p style="border:1px; border-style:solid; border-color:#AAAAAA; background-color:#c3d7ee; padding: 0.5em;">Other News</p></h1>
         {% for post in site.posts %}
            {% if forloop.index >= 4 and forloop.index <=8 %}
               <font face = "Courier">{{post.date | date_to_string}}  </font><b><a href="{{ post.url | relative_url }}">{{ post.title }}</a></b><br>
            {% endif %}
         {% endfor %}
      </td>
   </tr>
   <tr>
      <td style="border:0px" width="50%" bgcolor="#fef1f9">
         <h1><p style="border:1px; border-style:solid; border-color:#AAAAAA; background-color:#eec1d5; padding: 0.5em;">Latest Releases</p></h1>
         {% include releases_list number=4 single_column="yes" %}
         <b><a href="{{'/download/all_releases' | relative_url}}"> More ...</a></b>
      </td>
   </tr>
</table>
