<div class="page__footer-copyright">
<table id="navtable">
<tr>
<td><a href="https://cern.ch">           <img src="{{'/assets/images/cern-logo-large.png'      | relative_url}}" width=50>  </a></td>
<td><a href="https://fnal.gov">          <img src="{{'/assets/images/FNAL-logomark.png'        | relative_url}}" width=50>  </a></td>
<td><a href="https://www.unl.edu">       <img src="{{'/assets/images/nebraska-n.jpg'           | relative_url}}" width=50>  </a></td>
<td><a href="https://www.gsi.de">        <img src="{{'/assets/images/GSI_Logo_rgb.png'         | relative_url}}" width=80>  </a></td>
<td><a href="https://ucsd.edu">          <img src="{{'/assets/images/UCSanDiegoLogo-Black.png' | relative_url}}" width=175> </a></td>
<td><a href="https://www.princeton.edu"> <img src="{{'/assets/images/Princeton.png'            | relative_url}}" width=175> </a></td>
</tr>
</table>

<hr>

<table id="navtable">
<tr>
<td>Copyright &copy; <a href="{{ 'about' | relative_url }}">ROOT Team</a> 2021. All rights reserved.</td>
</tr>
</table>

</div>
