name: ROOT Web Publisher
on:
  push:
    branches:
      - gh-pages
  pull_request:
    branches:
      - gh-pages

env:
  PR_NUMBER: ${{ github.event.pull_request.number }}
  # only deploy if push to gh-pages or if pull request not coming from a fork (cannot access github secrets otherwise)
  SHOULD_DEPLOY: ${{ github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository }}

jobs:
  build:
    name: Jekyll Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Build website
        uses: root-project/jekyll-action@HEAD

      - name: Run HTML proofer
        uses: chabad360/htmlproofer@v1.1
        with:
          directory: './build/'
          # Reasons for url-ignore
          # - ourselves: Breaks checking local builds due to links in the metadata
          # - rootbnch-grafana-test.cern.ch: Breaks due to SSO
          # - lcgapp-services.cern.ch: Breaks due to SSO
          # - indico.desy.de: Returns frequently error code 403
          arguments: --empty-alt-ignore --file-ignore "/(releases|page.?/index.html)/" --allow-hash-href --url-ignore "/(https://ph-root-2.cern.ch/.*|https://rootbnch-grafana-test.cern.ch|https://lcgapp-services.cern.ch/root-jenkins|https://indico.desy.de.*)/" --only-4xx --enforce-https --check-favicon

      - name: Wait for other deployments
        # wait for other workflows that are deploying the website to finish, (not 100% foolproof, see #240)
        if: ${{ env.SHOULD_DEPLOY && github.event_name != 'pull_request' }}
        uses: softprops/turnstyle@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Sync to S3
        if: ${{ env.SHOULD_DEPLOY == true }}
        run: |
          DEST="s3://root/${PR_NUMBER:-}" # if PR, upload in s3://root/<prnumber>
          aws --endpoint-url https://s3.cern.ch s3 sync --delete build/${PR_NUMBER:-} ${DEST}
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
