name: ROOT Web Publisher
# This workflow is triggered on pushes to the repository.
on: [push]

jobs:
  build:
    # Job name is Greeting
    name: Jekyll Build
    # This job runs on Linux
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Jekyll Action
        uses: root-project/jekyll-action@HEAD
      - name: Deploy
        uses: ItsKarma/aws-cli@v1.70.0
        with:
          args: --endpoint-url https://s3.cern.ch s3 cp build s3://root --recursive --acl public-read
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
