name: ROOT Web Publisher
on:
  push:
    branches:
      - gh-pages
  pull_request:
    branches:
      - gh-pages

env:
  PR_NUMBER: ${{ (github.event_name != 'pull_request') && github.event.number || '' }}

jobs:
  build:
    name: Jekyll Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Jekyll Action
        uses: root-project/jekyll-action@testing

      - name: Sync to S3
        run: |
          DEST="s3://root"
          if [[ -n "$PR_NUMBER" ]]; then
            DEST="${DEST}/${PR_NUMBER}/"
          fi
          aws --endpoint-url https://s3.cern.ch s3 sync --delete build ${DEST}
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
