name: ROOT Web Publisher
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  PR_NUMBER: ${{ github.event.pull_request.number }}
  # only deploy if push to main or if pull request not coming from a fork (cannot access github secrets otherwise)
  SHOULD_DEPLOY: ${{ github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository }}

jobs:
  build:
    name: Jekyll Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Build website
        uses: root-project/jekyll-action@HEAD

      - name: Run HTML proofer
        uses: chabad360/htmlproofer@v1.1
        with:
          directory: './build/'
          # Reasons for url-ignore
          # - https://root.cern/[0-9]+: Breaks checking local builds due to links in the metadata
          # - https://root.cern/(?!(files|download|doc)): Checking links to the deployed website breaks appearing in the metadata of newly added webpages. Exceptions are links to files, download and doc, which are not part of the Jekyll setup.
          # - rootbnch-grafana-test.cern.ch: Breaks due to SSO
          # - lcgapp-services.cern.ch: Breaks due to SSO
          # - indico.desy.de: Returns frequently error code 403
          # - nbviewer: When notebook generation fails, nbviewer returns 404 errors, and errors might even be cached in CDNs for a while
          # - lcginfo.cern.ch: does not support HTTPS, see https://sft.its.cern.ch/jira/browse/SPI-1672
          # Reasons for file-ignore
          # - Broken links in historic ROOT v5 release notes
        arguments:  --empty-alt-ignore --file-ignore "/.*root-version-v5.*/" --allow-hash-href --url-ignore "/(https://root.cern/[0-9]+|https://root.cern/(?!(files|download|doc))|https://rootbnch-grafana-test.cern.ch|https://lcgapp-services.cern.ch/root-jenkins|https://indico.desy.de.*|https://nbviewer.jupyter.org|http://lcginfo.cern.ch)/" --only-4xx --http-status-ignore "429" --enforce-https --check-favicon --url_swap '^/doc/:https\://root.cern/doc/,^/d/:https\://root.cern/d/,^/files/:https\://root.cern/files/,^/download/:https\://root.cern/download/,^/js/:https\://root.cern/js/,^/TaligentDocs/:https\://root.cern/TaligentDocs/,^/root/:https\://root.cern/root/'

      - name: Only allow links to root.cern, never root.cern.ch
        run: |
          grep -n -R 'root\.cern\.ch' build || exit 0  # grep returns non-zero if no match is found
          N_WRONG_LINKS=$(grep -R 'root\.cern\.ch' build | wc -l)
          echo -e "\nFound $N_WRONG_LINKS links to root.cern.ch. Please change them to link to root.cern (no '.ch') instead."
          exit 1

      - name: Only allow links to ref guide for master (except in release notes)
        run: |
          grep --exclude-dir="releases" --exclude-dir="reference" --exclude-dir="all_releases" -n -R -P 'https:\/\/root\.cern\/doc\/(?!master)' build\
             || exit 0 # grep returns non-zero if no match is found
          echo -e "\nFound links to /doc/NOT_MASTER (see above). Please change them to link to /doc/master."
          exit 1

      - name: Wait for other deployments
        # wait for other workflows that are deploying the website to finish, (not 100% foolproof, see #240)
        if: ${{ env.SHOULD_DEPLOY == 'true' && github.event_name != 'pull_request' }}
        uses: softprops/turnstyle@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Sync to S3
        if: ${{ env.SHOULD_DEPLOY == 'true' }}
        run: |
          DEST="s3://root/${PR_NUMBER:-}" # if PR, upload in s3://root/<prnumber>
          aws --endpoint-url https://s3.cern.ch s3 sync --delete build/${PR_NUMBER:-} ${DEST}
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
